@import "../../styles/variables";

footer {
  background-color: #111;

  .footer {
    display: flex;
    flex-direction: column;
    gap: 24px;

    p {
      color:#ffffff;
    }

    .footer-strip {
      height: 12px;
      width: 100%;
      background: linear-gradient(90deg, #b00012 0%, #cf1020 50%, #b00012 100%);
    }

    .top-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      align-self: stretch;
      gap: 72px;

      .categories-wrapper {
        width: 730px;
        display: flex;
        justify-content: space-between;
        gap: 16px;

        .category-wrapper {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          flex: 1;
          gap: 16px;

          h5 {
            font-size: 1.6rem;
            line-height: 1rem;
            font-weight: 600;
            color: #ffffff;
            margin: 0 0 8px 0;
            font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
          }

          nav {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            align-self: stretch;

            a {
              font-size: 0.8rem;
              line-height: 1.55;
              display: inline-block;
              color: #a9a9a9;
              text-decoration: none;
              font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
              font-weight: 400;
              align-self: flex-start;
            }
          }
        }
      }
    }
  }

  .bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    padding: 24px 0;
    color: #d8d8d8;
    font-size: 13px;

    .rights-wrapper {
      display: flex;
      align-items: center;
      gap: 4px;
      padding-right: 10px;
    }

    .social-media-wrapper {
      display: flex;
      align-items: center;
      gap: 16px;

      .icon.sm {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        border: 1px solid #555;
        color: #d8d8d8;
        text-decoration: none;
        font-size: 14px;
      }
    }
  }
}
