@import "../../styles/variables";

header {
  background-color: #333333;
  border-bottom: 1px solid #333333;
  z-index: 11;

  .header {
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
  }

  .navigations-wrapper {
    display: flex;
    align-items: center;
    gap: 24px;

    nav {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 24px;
    }
  }

  .buttons-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;

    select {
      border: 1px solid #e5e5e5;
      background: #fff;
      padding: 6px 10px;
      color: #333;
    }

    button {
      background: transparent;
      color: #b00012;
      border: 1px solid #b00012;
      padding: 8px 18px;
    }
  }

  .nav-link {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    padding: 8px 10px;
    text-transform: uppercase;
  }
}
