@import "../styles/variables";

.hero-wrapper {
  display: flex;
  align-items: flex-start;
  padding: 44px 140px 88px 140px;
  flex-wrap: wrap;
  height: 100%;
  background: transparent;
  gap: initial;
  max-width: initial !important;

  img {
    width: 550px;
    height: 310px;

    margin-top: 92px;

    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 4px 8px 32px 0px rgba(10, 10, 10, 0.06);
    backdrop-filter: blur(20px);
  }

  button {
    background: #d21f26;
    border-radius: 0;
    color: #fff;
    font-weight: 700;
    height: 44px;
    width: 147px;
  }
}
.container.hero-wrapper {
  max-width: 1200px !important;
  padding-left: 50px;
  padding-right: 50px;
}
.hero-wrapper {
   .buttons-wrapper, .content-wrapper {
      gap: 0;
    }
  .pretitle,.description{
    color: #fff;
    transform: rotate(0deg) scale(1) skew(-13deg) translate(0);
    font-size: 31px;
    font-weight: 600;
  }
  .description{
    padding-left: 33%;
  }
  a{
    padding-left: 48%;
    margin-top: -25px;
  }
}

