@import "../styles/variables";

.logo-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  line-height: 0;

  h5 {
    display: inline;
  }
}

.icon.emirates {
  width: 125px !important;
  height: 90px !important;
  object-fit: contain !important;
}

.icon.oneWorldLogo {
  width: 80px !important;
}
