@import "../styles/variables";

.logo-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  line-height: 0;

  h5 {
    display: inline;
  }
}

.icon.emirates {
  height: 130px !important;
  width: auto !important;
  margin-top: 70px;
}

.icon.oneWorldLogo {
  width: 80px !important;
}
